In [1]:
import yapo

In [2]:
sym = yapo.information(ids='quandl/BND')
dt = sym.get_table(start_period='2011-1', end_period='2017-2', currency='USD')

In [4]:
print(t.period_min, t.period_max)

2011-01 2017-02

In [5]:
t.values.head()

                close  period  close_pctchange
Date
2011-01-31  66.191044 2011-01         0.000000
2011-02-28  66.385685 2011-02         0.002941
2011-03-31  66.287619 2011-03        -0.001477
2011-04-30  67.257551 2011-04         0.014632
2011-05-31  68.055437 2011-05         0.011863

In [7]:
t.accumulated_rate_of_return()

1.2025715634608865